*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

body{
    margin: 0;
    font-family: Arial;
    /* background-color: #000E8F; */
}


/* header */
.header-div{

    background-color: #ffffff;  
      background-color: #ffffff;
     height: 80px;
     width: 1200px;
     margin-top: 200; 
     /* border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px ; */
}

.navbar{
    display: flex;
    flex-direction: row;
}

.logo{
  margin-left: 80px;
  margin-top: 0;
}

.menu-wrap{
    display: none;
}

.nav-menu{
    margin-left: 300px;
    margin-top: 33px;
    
}

.nav-menu ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.nav-menu ul li{
    text-decoration: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    transition: 0.2s;
}

.nav-menu ul li a:hover{
    color: orangered;
    font-size: 19px;
}


/* about div */

.about-div{
    background-color: rgb(255, 255, 255);
    height: 600px;
    padding-top: 5px;
    
}

.about-header h2{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    font-family: sans-serif;
    color: orangered;
}

.about p{
    font-family: sans-serif;
    font-size: 20px;
    /* margin-right: 30px; */
    margin-top: 70px;
    margin-right: 6%;
    font-weight: 400;
    color: #000000;
}

.about-image{
    float: left;
   margin-right: 30px;
}

.about-image img{
    margin-right: auto; 
    
}


 /*footer div */

.footer-div{
    background-color: rgb(19, 18, 18);
}

.footer-details{
    display: flex;
    flex-direction: row;
}

.image{
    color: white;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 2%;
}

.image p{
    margin-top: -5px;
    font-size: 17px;
    margin-right: 20px;
}


.quic-lin{
    margin-top: 60px;
    color: wheat;
}

.quic-lin h2{
    color: orange;
}

.quic-lin li{
    list-style: none;
    margin-top: 15px;
}

.quic-lin li a {
    gap: 5px;
    text-decoration: none;
    color: white;
}

.quic-lin li a:hover {
    gap: 5px;
    text-decoration: none;
    color: orangered;
}

.contact-details{
    margin-top: 60px;
    color: orange;
    margin-left: 35px;
}

.social-media{
    margin-top: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.fa-user {
    font-size: 20px;
    color: orange;
}
.fa-user span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-user span:hover{
    color: orangered;
}



.fa-globe {
    font-size: 20px;
    color: orange;
}
.fa-globe span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-globe span:hover{
    color: orangered;
}


.fa-envelope {
    font-size: 20px;
    color: orange;
}
.fa-envelope span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-envelope span:hover{
    color: orangered;
}



.fa-instagram {
    font-size: 20px;
    color: orange;
}
.fa-instagram a {
    margin-left: 5px;
    text-decoration: none;
    font-size: medium;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.fa-instagram a:hover{
    color: orangered;
}

.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }

  .line{
    background-color: rgb(255, 255, 255);
    height: 1.5px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    align-items: center;
    margin-top: 20px;
  }

  .end {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }





@media screen  and (max-width: 960px) 
{

   

 body{
    margin: 0;
    font-family: Arial;

    /* background-color: #000E8F; */
} 


/* header */
.header-div{
     background-color: #ffffff;
     height: 85px;
     position: fixed;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
}




@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}






.menu-wrap .toggler{
position: absolute;
top: 20px;
left: 290px;
cursor: pointer;
z-index: 2;
width: 50px;
height: 50px;
opacity: 0;
}

.menu-wrap .hamburger{
position: absolute;
top: 20px;
left: 290px;
z-index: 1;
padding: 1rem;
width: 60px;
height: 60px;
background-color:rgba(0, 0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 3px;
}

/*hamburger middle line */

.menu-wrap .hamburger > div{
position: relative;
width: 100%;
height: 4px;
background-color: rgb(0, 0, 0);
transition: transform 0.4s ease;
}
/*Hamburger top and bottom line*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
content: "";
position: absolute;
top: -10px;
width: 100%;
height: 4px;
background-color: inherit;
}
/*moves line down*/
.menu-wrap .hamburger > div::after{
top: 10px;
}

/*toggler animation*/
.menu-wrap .toggler:checked + .hamburger>div{
transform: rotate(135deg);
}

/*turns line into X */
.menu-wrap .toggler:checked + .hamburger>div::before,
.menu-wrap .toggler:checked + .hamburger>div::after{
top: 0;
transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger>div{
transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu{
visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu> div{
transform: scale(1);
transition-duration: 0.5s;
}

.menu-wrap .toggler:checked ~ .menu> div > div{
opacity: 1;
transition: opacity 0.4s ease;
}

.menu-wrap .menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
display: flex;
align-items: center;
visibility: hidden;
justify-content: center;
}

.menu-wrap .menu>div{
background-color: orange;
width: 200vw;
height: 200vw;
overflow: hidden;
display: flex;
border-radius: 50%;
margin-right: 120px;
align-items: center;
margin-top: -190px;
justify-content: center;
flex: none;
transform: scale(0);
transition: all 0.4s ease;
}

.menu-wrap .menu > div > div{
max-width: 90vw;
max-height: 100vh;
text-align: center;
margin-bottom: 200px;
margin-top: 150px;
opacity: 0;
transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
list-style: none;
font-size: 1.8rem;
text-align: center;
padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
text-decoration: none;
text-align: start;
color: #000000;
transition: color 0.4s ease;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.menu-wrap{
display: flex;
}

.navbar{
    display: flex;
    flex-direction: row;
}
.nav-menu{
    display: none;
}


.menu-wrap{
    display: inline;
}

.logo{
    margin-left: 35px;
    margin-top: 0%;
  }
  





 /* about div */
        
 .about-div{
    background-color: white;
    height: 1080px;
    max-width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.about-header h2{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    font-family: sans-serif;
    color: orangered;
}

.about p{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 6px;
    margin-top: 463px;
    font-weight: 400;
    color: #000000;
}

.about-image{
    
    margin: -80px;
}

.about-image img{
    margin-top: 85px;
    margin-left: 20px;
}

.about-btn button{
    padding: 15px 20px;
    border-radius: 300px;
    margin-left: 30px;
    border: none;
    background-color: orangered;
    font-family: sans-serif;
    transition: 0.3s;
    margin-top: 20px;
}

.about-btn button a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.about-btn button a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*footer div */
        
.footer-div{
    background-color: #111010;
}

.footer-header h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    margin-bottom: 12px;
    color:orangered;
}

.footer-details{
    display: flex;
    flex-direction: column;
}

.image{
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

}

.image p{
    margin-top: 1px;
    font-size: 17px;
}

.quic-lin{
    margin-top: 60px;
    color: orange;
    margin-left: 50px;
}

.quic-lin li{
    list-style: none;
    gap: 5px;

}

.quic-lin li a {
    text-decoration: none;
    color: white;
}

.contact-details{
    margin-top: 60px;
    color: orange;
    margin-left: 50px;
}

.social-media{
    margin-top: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.fa-user {
    font-size: 20px;
    color: orange;
}
.fa-user span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-user span:hover{
    color: orangered;
}



.fa-globe {
    font-size: 20px;
    color: orange;
}
.fa-globe span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-globe span:hover{
    color: orangered;
}


.fa-envelope {
    font-size: 20px;
    color: orange;
}
.fa-envelope span {
    margin-left: 5px;
    font-family: sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.fa-envelope span:hover{
    color: orangered;
}



.fa-instagram {
    font-size: 20px;
    color: orange;
}
.fa-instagram a {
    margin-left: 5px;
    text-decoration: none;
    font-size: medium;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.fa-instagram a:hover{
    color: orangered;
}




.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #000E8F;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }

}


@media screen and (max-width: 600px)  {

}


